.games {
  height: 90vh;
}

.games .ant-layout-sider-dark .ant-layout-sider-children {
  border-right: 1px solid rgb(66, 66, 66);
}

.games .ant-card {
  background: transparent;
  border: none;
  height: 325px;
  border-radius: 10px;
}

.games .ant-card-cover {
  border: 5px solid #620edf;
  box-shadow: 0px 10px 199px 0px rgb(26 15 63 / 50%);
  border-radius: 10px;
  overflow: hidden;
}

.games .ant-card-body {
  padding: 15px;
  background: -moz-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -ms-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -o-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -webkit-linear-gradient(right, #5e72eb, #620edf);
  background: -o-linear-gradient(right, #5e72eb, #620edf);
  background: linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -webkit-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px 15px 0 15px;
  position: relative;
}

.games .ant-card-meta {
  width: 100%;
  text-align: right;
}

.games .ant-card-meta-title {
  color: rgba(255, 255, 255, 0.9);
}

.games .ant-card-meta-description {
  color: rgba(255, 255, 255, 0.75);
}

.games .thumb {
  width: 67px;
  height: 60px;
  box-shadow: 0px 12px 13px 0px rgb(26 15 63 / 32%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}
.games .thumb img {
  height: inherit;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}
