/* About section */
.about-page-section {
  padding: 100px 0px 120px;
  position: relative;
}

.about-page-section .alert {
  background: -moz-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -ms-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -o-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -webkit-linear-gradient(right, #5e72eb, #620edf);
  background: -o-linear-gradient(right, #5e72eb, #620edf);
  background: linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -webkit-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
}

.about-page-section .section-heading {
  text-align: left;
}
.about-page-section .section-heading .title {
  line-height: 34px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding: 0;
  background: -webkit-linear-gradient(to left, #cc1010, #c91d20);
  background: -moz-linear-gradient(to left, #cc1010, #c91d20);
  background: -ms-linear-gradient(to left, #cc1010, #c91d20);
  background: -o-linear-gradient(to left, #cc1010, #c91d20);
  background: -webkit-gradient(linear, right top, left top, from(#cc1010), to(#c91d20));
  background: -webkit-linear-gradient(right, #cc1010, #c91d20);
  background: -o-linear-gradient(right, #cc1010, #c91d20);
  background: linear-gradient(to left, #cc1010, #c91d20);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-page-section .section-heading .text {
  font-size: 22px;
  line-height: 34px;
}
.about-page-section .moreBtn {
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 14px 35px;
  display: inline-block;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-image: -webkit-gradient(linear, right top, left top, from(#cc1010), to(#c91d20));
  background-image: -o-linear-gradient(right, #cc1010, #c91d20);
  background-image: linear-gradient(to left, #cc1010, #c91d20);
  background-image: -webkit-linear-gradient(89deg, #c91d20 0%, #cc1010 100%);
  border-color: #6f6c6c;
}
.about-page-section .moreBtn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#cc1010), to(#c91d20));
  background-image: -webkit-linear-gradient(left, #cc1010, #c91d20);
  background-image: -o-linear-gradient(left, #cc1010, #c91d20);
  background-image: linear-gradient(to right, #cc1010, #c91d20);
  color: #fff;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* Characters section */
.characters p,
.characters h1 {
  color: #fff !important;
}
.characters p,
.characters a {
  font-size: 22px;
  margin-bottom: 0;
}

.parallax-row {
  height: 475px;
  border-bottom: 2px solid #000;
  background-attachment: fixed;
  transform: translateZ(0);
  will-change: transform;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-row:nth-of-type(1) {
  background-position-y: 46%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/gifs/sushi-level.gif);
}
.parallax-row:nth-of-type(2) {
  background-position-y: 55%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/gifs/doge-moon.gif);
}
.parallax-row:nth-of-type(3) {
  background-position-y: 80%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%),
    url(../../assets/gifs/dj-aurora.gif);
}
.parallax-row:nth-of-type(4) {
  background-position-y: 60%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/gifs/mars-level.gif);
}
.parallax-row:nth-of-type(5) {
  background-position-y: 60%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/gifs/ape-level.gif);
}
.parallax-row:nth-of-type(6) {
  background-position-y: 90%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/gifs/train-level.gif);
}
.parallax-row:nth-of-type(7) {
  background-position-y: 95%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
    url(../../assets/gifs/satoshi-level.gif);
}

.parallax-child-section {
  height: inherit;
  display: flex !important;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
.parallax-child-section.left {
  flex-direction: row-reverse;
}
.parallax-child-section.right {
  flex-direction: row;
}

.parallax-child-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parallax-child-section.left .text-container {
  text-align: left;
  padding: 110px 15% 110px 10px;
}
.parallax-child-section.right .text-container {
  text-align: right;
  padding: 110px 10px 110px 15%;
}

.title-hr::after {
  border-top: 2px solid;
  border-color: #d71414;
  content: '';
  display: block;
  height: 1px;
  width: 100px;
}
.parallax-child-section.left .title-hr::after {
  margin: 13px 0 0 0;
}
.parallax-child-section.right .title-hr::after {
  margin: 10px 0 0 auto;
}

.parallax-child-section .image-container {
  margin: auto auto 0 auto;
}
.parallax-child-section .image-container img {
  height: 420px;
  max-width: 100%;
  z-index: 1;
}

@media (max-width: 1200px) {
  .about-page-section .section-heading .text,
  .characters p,
  .characters a {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .about-page-section {
    padding: 50px 0px 50px;
  }
  .about-page-section .about-video {
    margin-bottom: 32px;
  }
  .about-page-section .section-heading {
    text-align: center;
  }
  .about-page-section .moreBtn {
    margin-top: 8px;
  }
  .about-page-section .section-heading .text,
  .characters p,
  .characters a {
    font-size: 18px;
  }
  .parallax-row {
    background-size: cover;
  }
  .parallax-child-section.left .text-container,
  .parallax-child-section.right .text-container {
    padding: 110px 0 110px 0;
  }
  .parallax-child-section .image-container img {
    height: 400px;
  }
}

@media (min-width: 1280px) {
  .parallax-child-section {
    max-width: 100% !important;
  }
}
