html {
  --antd-wave-shadow-color: #2caad9;
}
.ant-click-animating-node,
[ant-click-animating-without-extra-node='true']::after {
  box-shadow: 0 0 0 0 #2caad9;
}
.ant-alert {
  color: rgba(255, 255, 255, 0.85);
}
.ant-alert-success {
  background-color: #212e1d;
  border: 1px solid #30521f;
}
.ant-alert-success .ant-alert-icon {
  color: #4bac1b;
}
.ant-alert-info {
  background-color: #1e2b31;
  border: 1px solid #244a58;
}
.ant-alert-info .ant-alert-icon {
  color: #2caad9;
}
.ant-alert-warning {
  background-color: #362c1c;
  border: 1px solid #624b1d;
}
.ant-alert-warning .ant-alert-icon {
  color: #d99816;
}
.ant-alert-error {
  background-color: #351d20;
  border: 1px solid #612125;
}
.ant-alert-error .ant-alert-icon {
  color: #ab2229;
}
.ant-alert-close-icon .anticon-close,
.ant-alert-close-text {
  color: rgba(255, 255, 255, 0.45);
}
.ant-alert-close-icon .anticon-close:hover,
.ant-alert-close-text:hover {
  color: rgba(255, 255, 255, 0.75);
}
.ant-alert-with-description {
  color: rgba(255, 255, 255, 0.85);
}
.ant-alert-with-description .ant-alert-message {
  color: rgba(255, 255, 255, 0.85);
}
.ant-alert-message {
  color: rgba(255, 255, 255, 0.85);
}
.ant-anchor {
  color: rgba(255, 255, 255, 0.85);
}
.ant-anchor-wrapper {
  background-color: #212121;
}
.ant-anchor-ink::before {
  background-color: #424242;
}
.ant-anchor-ink-ball {
  background-color: #212121;
  border: 2px solid #2caad9;
}
.ant-anchor-link-title {
  color: rgba(255, 255, 255, 0.85);
}
.ant-anchor-link-active > .ant-anchor-link-title {
  color: #2caad9;
}

.ant-btn {
  color: rgba(255, 255, 255, 0.85);
  background: 0 0;
  border-color: #6f6c6c;
}
.ant-btn:focus,
.ant-btn:hover {
  color: #287a99;
  border-color: #287a99;
}
.ant-btn:focus > a:only-child,
.ant-btn:hover > a:only-child {
  color: currentColor;
}
.ant-btn:focus > a:only-child::after,
.ant-btn:hover > a:only-child::after {
  background: 0 0;
}
.ant-btn:active {
  color: #4eb3d2;
  background: 0 0;
  border-color: #4eb3d2;
}
.ant-btn[disabled],
.ant-btn[disabled]:active,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover {
  background: 0 0;
}
.ant-btn-primary {
  color: #fff;
  background: #2caad9;
  border-color: #2caad9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-primary:focus,
.ant-btn-primary:hover {
  color: #fff;
  background: #1b85b3;
  border-color: #1b85b3;
}
.ant-btn-primary:active {
  color: #fff;
  background: #53c3e6;
  border-color: #53c3e6;
}
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:active,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: #287a99;
  border-left-color: #287a99;
}
.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child):disabled {
  border-color: #6f6c6c;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
  border-right-color: #287a99;
}
.ant-btn-group .ant-btn-primary:first-child:not(:last-child)[disabled] {
  border-right-color: #6f6c6c;
}
.ant-btn-group .ant-btn-primary + .ant-btn-primary,
.ant-btn-group .ant-btn-primary:last-child:not(:first-child) {
  border-left-color: #287a99;
}
.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled],
.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled] {
  border-left-color: #6f6c6c;
}
.ant-btn-ghost {
  color: rgba(255, 255, 255, 0.85);
  background: 0 0;
  border-color: #6f6c6c;
}
.ant-btn-ghost:focus,
.ant-btn-ghost:hover {
  color: #287a99;
  background: 0 0;
  border-color: #287a99;
}
.ant-btn-ghost:active {
  color: #4eb3d2;
  background: 0 0;
  border-color: #4eb3d2;
}
.ant-btn-ghost[disabled],
.ant-btn-ghost[disabled]:active,
.ant-btn-ghost[disabled]:focus,
.ant-btn-ghost[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-dashed {
  color: rgba(255, 255, 255, 0.85);
  background: 0 0;
  border-color: #6f6c6c;
  border-style: dashed;
}
.ant-btn-dashed:focus,
.ant-btn-dashed:hover {
  color: #287a99;
  background: 0 0;
  border-color: #287a99;
}
.ant-btn-dashed:active {
  color: #4eb3d2;
  background: 0 0;
  border-color: #4eb3d2;
}
.ant-btn-danger > a:only-child,
.ant-btn-dashed:active > a:only-child {
  color: currentColor;
}
.ant-btn-danger > a:only-child::after,
.ant-btn-dashed:active > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: 0 0;
  content: '';
}
.ant-btn-dashed[disabled],
.ant-btn-dashed[disabled]:active,
.ant-btn-dashed[disabled]:focus,
.ant-btn-dashed[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-danger {
  color: #fff;
  background: #ab2229;
  border-color: #ab2229;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-danger:focus,
.ant-btn-danger:hover {
  color: #fff;
  background: #85141d;
  border-color: #85141d;
}
.ant-btn-danger:active {
  color: #fff;
  background: #b84244;
  border-color: #b84244;
}
.ant-btn-danger:active > a:only-child,
.ant-btn-link > a:only-child {
  color: currentColor;
}
.ant-btn-danger:active > a:only-child::after,
.ant-btn-link > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: 0 0;
  content: '';
}
.ant-btn-danger[disabled],
.ant-btn-danger[disabled]:active,
.ant-btn-danger[disabled]:focus,
.ant-btn-danger[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-link {
  color: #2caad9;
  background: 0 0;
  border-color: transparent;
  box-shadow: none;
}
.ant-btn-link:focus,
.ant-btn-link:hover {
  color: #287a99;
  background: 0 0;
}
.ant-btn-link:active {
  color: #4eb3d2;
  background: 0 0;
  border-color: #4eb3d2;
}
.ant-btn-link[disabled],
.ant-btn-link[disabled]:active,
.ant-btn-link[disabled]:focus,
.ant-btn-link[disabled]:hover {
  background: rgba(255, 255, 255, 0.08);
}
.ant-btn-link[disabled]:active > a:only-child,
.ant-btn-link[disabled]:focus > a:only-child,
.ant-btn-link[disabled]:hover > a:only-child,
.ant-btn-link[disabled] > a:only-child {
  color: currentColor;
}
.ant-btn-link[disabled],
.ant-btn-link[disabled]:active,
.ant-btn-link[disabled]:focus,
.ant-btn-link[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: 0 0;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-text {
  color: rgba(255, 255, 255, 0.85);
  background: 0 0;
  border-color: transparent;
  box-shadow: none;
}
.ant-btn-text:focus,
.ant-btn-text:hover {
  color: #287a99;
  background: 0 0;
}
.ant-btn-text:focus > a:only-child,
.ant-btn-text:hover > a:only-child {
  color: currentColor;
}
.ant-btn-text:focus > a:only-child::after,
.ant-btn-text:hover > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: 0 0;
  content: '';
}
.ant-btn-text:active {
  color: #4eb3d2;
  background: 0 0;
}
.ant-btn-dangerous > a:only-child,
.ant-btn-text:active > a:only-child {
  color: currentColor;
}
.ant-btn-dangerous > a:only-child::after,
.ant-btn-text:active > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: 0 0;
  content: '';
}
.ant-btn-text[disabled],
.ant-btn-text[disabled]:active,
.ant-btn-text[disabled]:focus,
.ant-btn-text[disabled]:hover {
  background: rgba(255, 255, 255, 0.08);
}
.ant-btn-text:focus,
.ant-btn-text:hover {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.03);
  border-color: transparent;
}
.ant-btn-text:active {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.04);
  border-color: transparent;
}
.ant-btn-text[disabled],
.ant-btn-text[disabled]:active,
.ant-btn-text[disabled]:focus,
.ant-btn-text[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: 0 0;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-dangerous {
  color: #ab2229;
  background: 0 0;
  border-color: #ab2229;
}
.ant-btn-dangerous:focus,
.ant-btn-dangerous:hover {
  color: #85141d;
  background: 0 0;
  border-color: #85141d;
}
.ant-btn-dangerous:active {
  color: #b84244;
  background: 0 0;
  border-color: #b84244;
}
.ant-btn-dangerous[disabled],
.ant-btn-dangerous[disabled]:active,
.ant-btn-dangerous[disabled]:focus,
.ant-btn-dangerous[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-dangerous.ant-btn-primary {
  color: #fff;
  background: #ab2229;
  border-color: #ab2229;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-dangerous.ant-btn-primary:focus,
.ant-btn-dangerous.ant-btn-primary:hover {
  color: #fff;
  background: #85141d;
  border-color: #85141d;
}
.ant-btn-dangerous.ant-btn-primary:active {
  color: #fff;
  background: #b84244;
  border-color: #b84244;
}
.ant-btn-dangerous.ant-btn-primary[disabled],
.ant-btn-dangerous.ant-btn-primary[disabled]:active,
.ant-btn-dangerous.ant-btn-primary[disabled]:focus,
.ant-btn-dangerous.ant-btn-primary[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-dangerous.ant-btn-link,
.ant-btn-dangerous.ant-btn-text {
  color: #ab2229;
  background: 0 0;
  border-color: transparent;
  box-shadow: none;
}
.ant-btn-dangerous.ant-btn-link[disabled],
.ant-btn-dangerous.ant-btn-link[disabled]:active,
.ant-btn-dangerous.ant-btn-link[disabled]:focus,
.ant-btn-dangerous.ant-btn-link[disabled]:hover {
  background: rgba(255, 255, 255, 0.08);
}
.ant-btn-dangerous.ant-btn-link:focus > a:only-child,
.ant-btn-dangerous.ant-btn-link:hover > a:only-child {
  color: currentColor;
}
.ant-btn-dangerous.ant-btn-link:focus > a:only-child::after,
.ant-btn-dangerous.ant-btn-link:hover > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: 0 0;
  content: '';
}
.ant-btn-dangerous.ant-btn-link:focus,
.ant-btn-dangerous.ant-btn-link:hover {
  color: #85141d;
  background: 0 0;
  border-color: transparent;
}
.ant-btn-dangerous.ant-btn-link:active {
  color: #b84244;
  background: 0 0;
  border-color: transparent;
}
.ant-btn-dangerous.ant-btn-link[disabled],
.ant-btn-dangerous.ant-btn-link[disabled]:active,
.ant-btn-dangerous.ant-btn-link[disabled]:focus,
.ant-btn-dangerous.ant-btn-link[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: 0 0;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-dangerous.ant-btn-text[disabled],
.ant-btn-dangerous.ant-btn-text[disabled]:active,
.ant-btn-dangerous.ant-btn-text[disabled]:focus,
.ant-btn-dangerous.ant-btn-text[disabled]:hover {
  background: rgba(255, 255, 255, 0.08);
}
.ant-btn-dangerous.ant-btn-text:focus,
.ant-btn-dangerous.ant-btn-text:hover {
  color: #85141d;
  background: rgba(255, 255, 255, 0.03);
  border-color: transparent;
}
.ant-btn-dangerous.ant-btn-text:active {
  color: #b84244;
  background: rgba(255, 255, 255, 0.04);
  border-color: transparent;
}
.ant-btn-dangerous.ant-btn-text[disabled],
.ant-btn-dangerous.ant-btn-text[disabled]:active,
.ant-btn-dangerous.ant-btn-text[disabled]:focus,
.ant-btn-dangerous.ant-btn-text[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: 0 0;
  border-color: transparent;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: #212121;
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: '';
  pointer-events: none;
}
.ant-btn-background-ghost {
  color: rgba(255, 255, 255, 0.85);
  background: 0 0 !important;
  border-color: rgba(255, 255, 255, 0.25);
}
.ant-btn-background-ghost.ant-btn-primary {
  color: #2caad9;
  background: 0 0;
  border-color: #2caad9;
  text-shadow: none;
}
.ant-btn-background-ghost.ant-btn-primary:focus,
.ant-btn-background-ghost.ant-btn-primary:hover {
  color: #1b85b3;
  background: 0 0;
  border-color: #1b85b3;
}
.ant-btn-background-ghost.ant-btn-primary:active {
  color: #53c3e6;
  background: 0 0;
  border-color: #53c3e6;
}
.ant-btn-background-ghost.ant-btn-primary[disabled],
.ant-btn-background-ghost.ant-btn-primary[disabled]:active,
.ant-btn-background-ghost.ant-btn-primary[disabled]:focus,
.ant-btn-background-ghost.ant-btn-primary[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-background-ghost.ant-btn-danger,
.ant-btn-background-ghost.ant-btn-dangerous {
  color: #ab2229;
  background: 0 0;
  border-color: #ab2229;
  text-shadow: none;
}
.ant-btn-background-ghost.ant-btn-danger:focus,
.ant-btn-background-ghost.ant-btn-danger:hover {
  color: #85141d;
  background: 0 0;
  border-color: #85141d;
}
.ant-btn-background-ghost.ant-btn-danger:active {
  color: #b84244;
  background: 0 0;
  border-color: #b84244;
}
.ant-btn-background-ghost.ant-btn-danger[disabled],
.ant-btn-background-ghost.ant-btn-danger[disabled]:active,
.ant-btn-background-ghost.ant-btn-danger[disabled]:focus,
.ant-btn-background-ghost.ant-btn-danger[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-background-ghost.ant-btn-dangerous:focus,
.ant-btn-background-ghost.ant-btn-dangerous:hover {
  color: #85141d;
  background: 0 0;
  border-color: #85141d;
}
.ant-btn-background-ghost.ant-btn-dangerous:active {
  color: #b84244;
  background: 0 0;
  border-color: #b84244;
}
.ant-btn-background-ghost.ant-btn-dangerous:active > a:only-child {
  color: currentColor;
}
.ant-btn-background-ghost.ant-btn-dangerous:active > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: 0 0;
  content: '';
}
.ant-btn-background-ghost.ant-btn-dangerous[disabled],
.ant-btn-background-ghost.ant-btn-dangerous[disabled]:active,
.ant-btn-background-ghost.ant-btn-dangerous[disabled]:focus,
.ant-btn-background-ghost.ant-btn-dangerous[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link {
  color: #ab2229;
  background: 0 0;
  border-color: transparent;
  text-shadow: none;
}
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link:focus,
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link:hover {
  color: #85141d;
  background: 0 0;
  border-color: transparent;
}
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link:active {
  color: #b84244;
  background: 0 0;
  border-color: transparent;
}
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link[disabled],
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link[disabled]:active,
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link[disabled]:focus,
.ant-btn-background-ghost.ant-btn-dangerous.ant-btn-link[disabled]:hover {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.08);
  border-color: #6f6c6c;
  text-shadow: none;
  box-shadow: none;
}
.ant-btn-group-rtl.ant-btn-group .ant-btn-primary + .ant-btn-primary,
.ant-btn-group-rtl.ant-btn-group .ant-btn-primary:last-child:not(:first-child) {
  border-right-color: #287a99;
  border-left-color: #6f6c6c;
}
.ant-btn-group-rtl.ant-btn-group .ant-btn-primary + .ant-btn-primary[disabled],
.ant-btn-group-rtl.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled] {
  border-right-color: #6f6c6c;
  border-left-color: #287a99;
}

.ant-card {
  color: rgba(255, 255, 255, 0.85);
  background: #212121;
}
.ant-card-hoverable:hover {
  border-color: transparent;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.64), 0 3px 6px 0 rgba(0, 0, 0, 0.48), 0 5px 14px 4px rgba(0, 0, 0, 0.36);
}
.ant-card-bordered {
  border: 1px solid #424242;
}
.ant-card-head {
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #424242;
}
.ant-card-extra,
.ant-card-head .ant-tabs {
  color: rgba(255, 255, 255, 0.85);
}
.ant-card-head .ant-tabs-bar {
  border-bottom: 1px solid #424242;
}
.ant-card-grid {
  box-shadow: 1px 0 0 0 #424242, 0 1px 0 0 #424242, 1px 1px 0 0 #424242, 1px 0 0 0 #424242 inset,
    0 1px 0 0 #424242 inset;
}
.ant-card-grid-hoverable:hover {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.64), 0 3px 6px 0 rgba(0, 0, 0, 0.48), 0 5px 14px 4px rgba(0, 0, 0, 0.36);
}
.ant-card-actions {
  background: #212121;
  border-top: 1px solid #424242;
}
.ant-card-actions > li {
  color: rgba(255, 255, 255, 0.45);
}
.ant-card-actions > li > span:hover {
  color: #2caad9;
}
.ant-card-actions > li > span a:not(.ant-btn),
.ant-card-actions > li > span > .anticon {
  color: rgba(255, 255, 255, 0.45);
}
.ant-card-actions > li > span a:not(.ant-btn):hover,
.ant-card-actions > li > span > .anticon:hover {
  color: #2caad9;
}
.ant-card-actions > li:not(:last-child) {
  border-right: 1px solid #424242;
}
.ant-card-type-inner .ant-card-head {
  background: rgba(255, 255, 255, 0.04);
}
.ant-card-meta-title {
  color: rgba(255, 255, 255, 0.85);
}
.ant-card-meta-description {
  color: rgba(255, 255, 255, 0.45);
}
.ant-card-loading-block {
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.2), rgba(66, 66, 66, 0.4), rgba(66, 66, 66, 0.2));
  background-size: 600% 600%;
}

.ant-dropdown-menu-item > .anticon + span > a:hover,
.ant-dropdown-menu-item > a:hover,
.ant-dropdown-menu-submenu-title > .anticon + span > a:hover,
.ant-dropdown-menu-submenu-title > a:hover {
  color: rgba(255, 255, 255, 0.85);
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: #ab2229;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
  color: #fff;
  background-color: #ab2229;
}
.ant-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
}
.ant-dropdown-placement-topCenter > .ant-dropdown-arrow,
.ant-dropdown-placement-topLeft > .ant-dropdown-arrow,
.ant-dropdown-placement-topRight > .ant-dropdown-arrow {
  bottom: 6.2px;
  border-color: transparent #212121 #212121 transparent;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
}
.ant-dropdown-placement-bottomCenter > .ant-dropdown-arrow,
.ant-dropdown-placement-bottomLeft > .ant-dropdown-arrow,
.ant-dropdown-placement-bottomRight > .ant-dropdown-arrow {
  top: 6px;
  border-color: #212121 transparent transparent #212121;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}
.ant-dropdown-menu {
  background-color: #212121;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 18px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
}
.ant-dropdown-menu-item-group-title {
  padding: 5px 14px;
  color: rgba(255, 255, 255, 0.45);
  transition: all 0.3s;
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  color: rgba(255, 255, 255, 0.85);
}
.ant-dropdown-menu-item > .anticon:first-child,
.ant-dropdown-menu-item > span > .anticon:first-child,
.ant-dropdown-menu-submenu-title > .anticon:first-child,
.ant-dropdown-menu-submenu-title > span > .anticon:first-child {
  min-width: 14px;
  margin-right: 8px;
  font-size: 14px;
}
.ant-dropdown-menu-item > a,
.ant-dropdown-menu-submenu-title > a {
  display: block;
  margin: -5px -14px;
  padding: 5px 14px;
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s;
}
.ant-dropdown-menu-item > .anticon + span > a,
.ant-dropdown-menu-submenu-title > .anticon + span > a {
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s;
}
.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-item-selected > a,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-submenu-title-selected > a {
  color: #2caad9;
  background-color: #1e2b31;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.ant-dropdown-menu-item-disabled,
.ant-dropdown-menu-submenu-title-disabled {
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}
.ant-dropdown-menu-item-disabled:hover,
.ant-dropdown-menu-submenu-title-disabled:hover,
.ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-disabled .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-disabled
  .ant-dropdown-menu-submenu-title
  .ant-dropdown-menu-submenu-arrow-icon {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  cursor: not-allowed;
}
.ant-dropdown-menu-item-divider,
.ant-dropdown-menu-submenu-title-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 0;
  background-color: #424242;
}
.ant-dropdown-menu-item .ant-dropdown-menu-submenu-arrow,
.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow {
  position: absolute;
  right: 8px;
}
.ant-dropdown-menu-item .ant-dropdown-menu-submenu-arrow-icon,
.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-arrow-icon {
  margin-right: 0 !important;
  color: rgba(255, 255, 255, 0.45);
  font-style: normal;
  display: inline-block;
  font-size: 12px;
}
.ant-dropdown-menu-submenu-selected .ant-dropdown-menu-submenu-title {
  color: #2caad9;
}
.ant-dropdown-menu-dark,
.ant-dropdown-menu-dark .ant-dropdown-menu {
  background: #212121;
}
.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected,
.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected:hover,
.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected > a {
  color: #fff;
  background: #2caad9;
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  line-height: 1.5715;
  background-color: transparent;
  background-image: none;
  border: 1px solid #6f6c6c;
  border-radius: 4px;
  transition: all 0.3s;
  display: inline-flex;
}
.ant-input-affix-wrapper::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-affix-wrapper:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-overflow: ellipsis;
}
.ant-input-affix-wrapper::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-affix-wrapper:placeholder-shown {
  text-overflow: ellipsis;
}
.ant-input-affix-wrapper:hover {
  border-color: #287a99;
  border-right-width: 1px !important;
}
.ant-input-rtl .ant-input-affix-wrapper:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
  border-color: #2caad9;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(44, 170, 217, 0.2);
}
.ant-input-rtl .ant-input-affix-wrapper-focused,
.ant-input-rtl .ant-input-affix-wrapper:focus {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.ant-input-affix-wrapper-disabled:hover,
.ant-input-affix-wrapper[disabled]:hover {
  border-color: #6f6c6c;
  border-right-width: 1px !important;
}
.ant-input-affix-wrapper-disabled,
.ant-input-affix-wrapper[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.08);
  cursor: not-allowed;
  opacity: 1;
}
.ant-input-clear-icon {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 4px;
  vertical-align: -1px;
}
.ant-input-clear-icon:hover {
  color: rgba(255, 255, 255, 0.45);
}
.ant-input-clear-icon:active {
  color: rgba(255, 255, 255, 0.85);
}
.ant-input-textarea-clear-icon {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 8px 8px 0 0;
}
.ant-input-textarea-clear-icon:hover {
  color: rgba(255, 255, 255, 0.45);
}
.ant-input-textarea-clear-icon:active {
  color: rgba(255, 255, 255, 0.85);
}
.ant-input-textarea-clear-icon-hidden {
  visibility: hidden;
}
.ant-input {
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  background-image: none;
  border: 1px solid #6f6c6c;
}
.ant-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-overflow: ellipsis;
}
.ant-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input:placeholder-shown {
  text-overflow: ellipsis;
}
.ant-input:hover {
  border-color: #287a99;
  border-right-width: 1px !important;
}
.ant-input-rtl .ant-input:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.ant-input-focused,
.ant-input:focus {
  border-color: #2caad9;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(44, 170, 217, 0.2);
}
.ant-input-rtl .ant-input-focused,
.ant-input-rtl .ant-input:focus {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.ant-input-disabled:hover,
.ant-input[disabled]:hover {
  border-color: #6f6c6c;
  border-right-width: 1px !important;
}
.ant-input-disabled,
.ant-input[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.08);
  cursor: not-allowed;
  opacity: 1;
}
.ant-input-group {
  color: rgba(255, 255, 255, 0.85);
}
.ant-input-group-addon {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid #6f6c6c;
}
.ant-input-group-addon .ant-select {
  margin: -5px -11px;
}
.ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: inherit;
  border: 1px solid transparent;
  box-shadow: none;
}
.ant-input-group-addon .ant-select-focused .ant-select-selector,
.ant-input-group-addon .ant-select-open .ant-select-selector,
.ant-list-item-meta-title > a:hover {
  color: #2caad9;
}
.ant-input-group-rtl .ant-input-group-addon:first-child {
  border-right: 1px solid #6f6c6c;
  border-left: 0;
}
.ant-input-group-rtl .ant-input-group-addon:last-child {
  border-right: 0;
  border-left: 1px solid #6f6c6c;
}
.ant-input-password-icon,
.ant-input-search-icon {
  color: rgba(255, 255, 255, 0.45);
  cursor: pointer;
  transition: all 0.3s;
}
.ant-input-password-icon:hover {
  color: rgba(255, 255, 255, 0.85);
}
.ant-input-search-icon:hover {
  color: rgba(255, 255, 255, 0.85);
}
.ant-input-search-icon::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  border-left: 1px solid #6f6c6c;
  transition: all 0.3s;
  content: '';
}
.ant-input-search-enter-button input:focus,
.ant-input-search-enter-button input:hover {
  border-color: #287a99;
}
.ant-input-search-rtl .ant-input-search-icon::after {
  right: auto;
  left: 0;
  border-right: 1px solid #6f6c6c;
  transition: all 0.3s;
}
.ant-input-search-rtl.ant-input-search:not(.ant-input-search-enter-button) {
  padding-right: 11px;
  padding-left: 0;
}
.ant-input-search-rtl.ant-input-search-enter-button input,
.ant-input-search-rtl.ant-input-search-enter-button.ant-input-affix-wrapper {
  border-right: 1px solid #6f6c6c;
  border-left: 0;
}
.ant-input-search-rtl.ant-input-search-enter-button input:focus,
.ant-input-search-rtl.ant-input-search-enter-button input:hover,
.ant-input-search-rtl.ant-input-search-enter-button.ant-input-affix-wrapper:focus,
.ant-input-search-rtl.ant-input-search-enter-button.ant-input-affix-wrapper:hover {
  border-color: #287a99;
}
.ant-input-number {
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  background-image: none;
  border: 1px solid #6f6c6c;
}
.ant-input-number::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-number:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-overflow: ellipsis;
}
.ant-input-number::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-number-focused,
.ant-input-number:focus {
  border-color: #2caad9;
  box-shadow: 0 0 0 2px rgba(44, 170, 217, 0.2);
}
.ant-input-number[disabled]:hover {
  border-color: #6f6c6c;
}
.ant-input-number[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.08);
}
.ant-input-number-handler {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.45);
  font-weight: 700;
  line-height: 0;
  text-align: center;
  transition: all 0.1s linear;
}
.ant-input-number-handler:active {
  background: rgba(255, 255, 255, 0.08);
}
.ant-input-number-handler:hover .ant-input-number-handler-down-inner,
.ant-input-number-handler:hover .ant-input-number-handler-up-inner {
  color: #287a99;
}
.ant-input-number-handler-down-inner,
.ant-input-number-handler-up-inner {
  color: rgba(255, 255, 255, 0.45);
}
.ant-input-number-focused,
.ant-input-number:hover {
  border-color: #287a99;
  border-right-width: 1px !important;
}
.ant-input-number:hover + .ant-form-item-children-icon {
  opacity: 0;
  transition: opacity 0.24s linear 0.24s;
}
.ant-input-number-focused {
  border-color: #2caad9;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(44, 170, 217, 0.2);
}
.ant-input-rtl .ant-input-number-focused {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.ant-input-number-disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.08);
  cursor: not-allowed;
  opacity: 1;
}
.ant-input-number-disabled:hover {
  border-color: #6f6c6c;
  border-right-width: 1px !important;
}
.ant-input-number-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-number-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-overflow: ellipsis;
}
.ant-input-number-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-number-handler-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 100%;
  background: #212121;
  border-left: 1px solid #6f6c6c;
  border-radius: 0 4px 4px 0;
  opacity: 0;
  transition: opacity 0.24s linear 0.1s;
}
.ant-input-number-handler-down {
  top: 0;
  border-top: 1px solid #6f6c6c;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.ant-input-number-handler-down-inner {
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.ant-input-number-handler-down-disabled,
.ant-input-number-handler-up-disabled {
  cursor: not-allowed;
}
.ant-input-number-handler-down-disabled:hover .ant-input-number-handler-down-inner,
.ant-input-number-handler-up-disabled:hover .ant-input-number-handler-up-inner {
  color: rgba(255, 255, 255, 0.3);
}
.ant-input-number-rtl {
  direction: rtl;
}
.ant-input-number-rtl .ant-input-number-handler-wrap {
  right: auto;
  left: 0;
  border-right: 1px solid #6f6c6c;
  border-left: 0;
  border-radius: 4px 0 0 4px;
}
.ant-layout-footer,
.ant-layout-header {
  flex: 0 0 auto;
  color: rgba(255, 255, 255, 0.85);
  background: #212121;
}
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
}
.ant-layout-footer {
  padding: 24px 50px;
  font-size: 16px;
}
.ant-layout-content {
  flex: auto;
  min-height: 0;
}
.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #212121;
  transition: all 0.2s;
}
.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #262626;
  cursor: pointer;
  transition: all 0.2s;
}
.ant-layout-sider-zero-width > * {
  overflow: hidden;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 64px;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #212121;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.ant-layout-sider-light .ant-layout-sider-trigger,
.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
  color: rgba(255, 255, 255, 0.85);
  background: #fff;
}
.ant-layout-rtl {
  direction: rtl;
}
.ant-list .ant-card {
  background: 0 0;
}
.ant-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
}
.ant-list-empty-text {
  padding: 18px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  text-align: center;
}
.ant-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  color: rgba(255, 255, 255, 0.85);
}
.ant-list-item-meta-content {
  flex: 1 0;
  width: 0;
  color: rgba(255, 255, 255, 0.85);
}
.ant-list-item-meta-title {
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}
.ant-list-item-meta-title > a {
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s;
}
.ant-list-item-action > li,
.ant-list-item-meta-description {
  color: rgba(255, 255, 255, 0.45);
  font-size: 16px;
  line-height: 1.5715;
}
.ant-list-item-action-split {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 16px;
  margin-top: -7px;
  background-color: #424242;
}
.ant-list-footer,
.ant-list-header {
  background: 0 0;
  padding-top: 14px;
  padding-bottom: 14px;
}
.ant-list-empty {
  padding: 18px 0;
  color: rgba(255, 255, 255, 0.45);
  font-size: 14px;
  text-align: center;
}
.ant-list-split .ant-list-header,
.ant-list-split .ant-list-item {
  border-bottom: 1px solid #424242;
}
.ant-list-split .ant-list-item:last-child {
  border-bottom: none;
}
.ant-list-split.ant-list-empty .ant-list-footer {
  border-top: 1px solid #424242;
}
.ant-list-loading .ant-list-spin-nested-loading {
  min-height: 32px;
}
.ant-list-split.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child,
.ant-transfer-customize-list .ant-table-wrapper .ant-table-small > .ant-table-content .ant-table-row:last-child td {
  border-bottom: 1px solid #424242;
}
.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  line-height: 24px;
}
.ant-list-bordered {
  border: 1px solid #6f6c6c;
  border-radius: 4px;
}

.ant-menu-item-danger.ant-menu-item,
.ant-menu-item-danger.ant-menu-item-active,
.ant-menu-item-danger.ant-menu-item-selected,
.ant-menu-item-danger.ant-menu-item-selected > a,
.ant-menu-item-danger.ant-menu-item-selected > a:hover,
.ant-menu-item-danger.ant-menu-item:hover {
  color: #ab2229;
}
.ant-menu-item-danger.ant-menu-item:active {
  background: #351d20;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-danger.ant-menu-item-selected {
  background-color: #351d20;
}
.ant-menu-inline .ant-menu-item-danger.ant-menu-item::after {
  border-right-color: #ab2229;
}
.ant-menu-dark .ant-menu-item-danger.ant-menu-item,
.ant-menu-dark .ant-menu-item-danger.ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-danger.ant-menu-item > a {
  color: #ab2229;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-danger.ant-menu-item-selected {
  color: #fff;
  background-color: #ab2229;
}
.ant-menu {
  box-sizing: border-box;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  line-height: 0;
  text-align: left;
  list-style: none;
  background: #212121;
  outline: 0;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 18px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}
.ant-menu::after,
.ant-menu::before {
  display: table;
  content: '';
}
.ant-menu::after {
  clear: both;
}
.ant-menu-hidden {
  display: none;
}
.ant-menu-item-group-title {
  height: 1.5715;
  padding: 8px 18px;
  color: rgba(255, 255, 255, 0.45);
  font-size: 16px;
  line-height: 1.5715;
  transition: all 0.3s;
}
.ant-menu-horizontal .ant-menu-submenu {
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-submenu,
.ant-menu-submenu-inline {
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-item a:hover,
.ant-menu-item > .ant-badge a:hover,
.ant-menu-submenu-selected {
  color: #2caad9;
}
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background: #1e2b31;
}
.ant-menu-submenu .ant-menu-sub {
  cursor: initial;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-item a,
.ant-menu-item > .ant-badge a {
  color: rgba(255, 255, 255, 0.85);
}
.ant-menu-item a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  content: '';
}
.ant-menu-item-divider {
  height: 1px;
  overflow: hidden;
  line-height: 0;
  background-color: #424242;
}
.ant-menu-item-active,
.ant-menu-item:hover,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #2caad9;
}
.ant-menu-horizontal .ant-menu-item,
.ant-menu-horizontal .ant-menu-submenu {
  margin-top: -1px;
}
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
  background-color: transparent;
}
.ant-menu-vertical-right {
  border-left: 1px solid #424242;
}
.ant-menu > .ant-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  background-color: #424242;
}
.ant-menu-submenu > .ant-menu {
  background-color: #212121;
  border-radius: 4px;
}
.ant-menu-submenu-popup > .ant-menu {
  background-color: #212121;
}
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
  background: linear-gradient(to right, #2caad9, #2caad9);
}
.ant-menu-horizontal > .ant-menu-item a:hover,
.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: #2caad9;
}
.ant-menu-horizontal {
  border-bottom: 1px solid #424242;
  box-shadow: none;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: #2caad9;
  border-bottom: 2px solid #2caad9;
}
.ant-menu-horizontal > .ant-menu-item a,
.ant-menu-inline-collapsed-tooltip a {
  color: rgba(255, 255, 255, 0.85);
}
.ant-menu-horizontal > .ant-menu-item a::before {
  bottom: -2px;
}
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #2caad9;
}
.ant-menu-inline .ant-menu-item::after,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after {
  border-right: 3px solid #2caad9;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}
.ant-menu-item-disabled a,
.ant-menu-submenu-disabled a {
  color: rgba(255, 255, 255, 0.3) !important;
  pointer-events: none;
}
.ant-menu-item-disabled,
.ant-menu-item-disabled > .ant-menu-submenu-title,
.ant-menu-submenu-disabled,
.ant-menu-submenu-disabled > .ant-menu-submenu-title {
  color: rgba(255, 255, 255, 0.3) !important;
  cursor: not-allowed;
}
.ant-menu-item-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after,
.ant-menu-item-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before,
.ant-menu-submenu-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after,
.ant-menu-submenu-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before {
  background: rgba(255, 255, 255, 0.3) !important;
}
.ant-layout-header .ant-menu {
  line-height: inherit;
}
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #212121;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #212121;
}
.ant-menu-dark.ant-menu-horizontal {
  border-bottom: 0;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  top: 0;
  margin-top: 0;
  padding: 0 20px;
  border-color: #212121;
  border-bottom: 0;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #2caad9;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #2caad9;
}
.ant-menu-dark .ant-menu-item-selected {
  color: #fff;
  border-right: 0;
}
.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: #fff;
}
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #2caad9;
}
.ant-menu-dark .ant-menu-item-disabled,
.ant-menu-dark .ant-menu-item-disabled > a,
.ant-menu-dark .ant-menu-item-disabled > span > a,
.ant-menu-dark .ant-menu-submenu-disabled,
.ant-menu-dark .ant-menu-submenu-disabled > a,
.ant-menu-dark .ant-menu-submenu-disabled > span > a {
  color: rgba(255, 255, 255, 0.3) !important;
  opacity: 0.8;
}
.ant-menu-dark .ant-menu-item-disabled > .ant-menu-submenu-title,
.ant-menu-dark .ant-menu-submenu-disabled > .ant-menu-submenu-title {
  color: rgba(255, 255, 255, 0.3) !important;
}
.ant-menu-dark .ant-menu-item-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after,
.ant-menu-dark .ant-menu-item-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before,
.ant-menu-dark .ant-menu-submenu-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after,
.ant-menu-dark .ant-menu-submenu-disabled > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before {
  background: rgba(255, 255, 255, 0.3) !important;
}
.ant-menu.ant-menu-rtl {
  direction: rtl;
  text-align: right;
}
.ant-menu-rtl .ant-menu-item-group-title {
  text-align: right;
}
.ant-menu-rtl.ant-menu-inline,
.ant-menu-rtl.ant-menu-vertical {
  border-right: none;
  border-left: 1px solid #424242;
}

.ant-notification .ant-anchor-wrapper,
.ant-notification .ant-card,
.ant-notification .ant-collapse-content,
.ant-notification .ant-picker-clear,
.ant-notification .ant-slider-handle,
.ant-notification .ant-timeline-item-head {
  background-color: #212121;
}
.ant-notification .ant-transfer-list-header {
  background: #212121;
  border-bottom: 1px solid #3a3a3a;
}
.ant-notification .ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.ant-notification .ant-table.ant-table-small thead > tr > th {
  background-color: #212121;
  border-bottom: 1px solid #3a3a3a;
}
.ant-notification .ant-picker-calendar-full,
.ant-notification .ant-table,
.ant-notification .ant-table tbody > tr > td.ant-table-cell-fix-left,
.ant-notification .ant-table tbody > tr > td.ant-table-cell-fix-right {
  background-color: #212121;
}
.ant-notification .ant-table .ant-table-row-expand-icon,
.ant-notification .ant-table.ant-table-bordered .ant-table-container,
.ant-notification .ant-table.ant-table-bordered .ant-table-footer,
.ant-notification .ant-table.ant-table-bordered .ant-table-title {
  border: 1px solid #3a3a3a;
}
.ant-notification .ant-table tbody > tr > td,
.ant-notification .ant-table tfoot > tr > td,
.ant-notification .ant-table tfoot > tr > th {
  border-bottom: 1px solid #3a3a3a;
}
.ant-notification .ant-table thead > tr > th {
  background-color: #272727;
  border-bottom: 1px solid #3a3a3a;
}
.ant-notification .ant-table.ant-table-bordered .ant-table-cell-fix-right-first::after,
.ant-notification .ant-table.ant-table-bordered .ant-table-expanded-row-fixed::after,
.ant-notification .ant-table.ant-table-bordered tbody > tr > td,
.ant-notification .ant-table.ant-table-bordered tfoot > tr > td,
.ant-notification .ant-table.ant-table-bordered tfoot > tr > th,
.ant-notification .ant-table.ant-table-bordered thead > tr > th {
  border-right: 1px solid #3a3a3a;
}
.ant-notification .ant-table .ant-table-filter-trigger-container-open {
  background-color: #525252;
}
.ant-notification .ant-picker-calendar-full .ant-picker-panel {
  background-color: #212121;
}
.ant-notification .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
  border-top: 2px solid #3a3a3a;
}
.ant-notification .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background-color: #212121;
  border-bottom: 1px solid #212121;
}
.ant-notification .ant-badge-count {
  box-shadow: 0 0 0 1px #212121;
}
.ant-notification .ant-tree-show-line .ant-tree-switcher {
  background: #212121;
}
.ant-notification {
  box-sizing: border-box;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  z-index: 1010;
  max-width: calc(100vw - 32px);
  margin: 0 24px 0 0;
}
.ant-notification-hook-holder,
.ant-notification-notice {
  position: relative;
  width: 384px;
  margin-bottom: 18px;
  margin-left: auto;
  overflow: hidden;
  background: #212121;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 18px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
}
.ant-notification-notice-message {
  display: inline-block;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  line-height: 24px;
}
.anticon.ant-notification-notice-icon-success {
  color: #4bac1b;
}
.anticon.ant-notification-notice-icon-info {
  color: #2caad9;
}
.anticon.ant-notification-notice-icon-warning {
  color: #d99816;
}
.anticon.ant-notification-notice-icon-error {
  color: #ab2229;
}
.ant-notification-notice-close {
  position: absolute;
  top: 18px;
  right: 22px;
  color: rgba(255, 255, 255, 0.45);
  outline: 0;
}
.ant-notification-notice-close:hover {
  color: rgba(255, 255, 255, 0.85);
}
.ant-page-header {
  box-sizing: border-box;
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  padding: 18px 24px;
  background-color: #212121;
}
.ant-page-header-ghost {
  background-color: transparent;
}
.ant-page-header.has-breadcrumb {
  padding-top: 14px;
}
.ant-page-header.has-footer {
  padding-bottom: 0;
}
.ant-page-header-back {
  margin-right: 18px;
  font-size: 18px;
  line-height: 1;
}
.ant-page-header-back-button {
  text-decoration: none;
  outline: 0;
  transition: color 0.3s;
  color: inherit;
  cursor: pointer;
}
.ant-page-header-back-button:focus,
.ant-page-header-back-button:hover {
  color: #287a99;
}
.ant-page-header-back-button:active {
  color: #4eb3d2;
}
.ant-page-header-heading-title {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.ant-page-header-heading .ant-avatar {
  margin-right: 14px;
}
.ant-page-header-heading-sub-title {
  color: rgba(255, 255, 255, 0.45);
  font-size: 16px;
  line-height: 1.5715;
}

.ant-progress {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  display: inline-block;
}
.ant-progress-steps-item {
  flex-shrink: 0;
  min-width: 2px;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.08);
  transition: all 0.3s;
}
.ant-progress-steps-item-active {
  background: #197fde;
}
.ant-progress-outer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}
.ant-progress-show-info .ant-progress-outer {
  margin-right: calc(-2em - 8px);
  padding-right: calc(2em + 8px);
}
.ant-progress-circle-trail {
  stroke: rgba(255, 255, 255, 0.08);
}
.ant-progress-circle-path {
  animation: ant-progress-appear 0.3s;
}
.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #197fde;
}
.ant-progress-bg,
.ant-progress-success-bg {
  border-radius: 100px;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}
.ant-progress-bg {
  position: relative;
  background-color: #197fde;
}
.ant-progress-success-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4bac1b;
}
.ant-progress-status-active .ant-progress-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #212121;
  border-radius: 12px;
  opacity: 0;
  animation: ant-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  content: '';
}
.ant-progress-status-exception .ant-progress-bg {
  background-color: #ab2229;
}
.ant-progress-status-exception .ant-progress-text {
  color: #ab2229;
}
.ant-progress-status-exception .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #ab2229;
}
.ant-progress-status-success .ant-progress-bg {
  background-color: #4bac1b;
}
.ant-progress-status-success .ant-progress-text {
  color: #4bac1b;
}
.ant-progress-status-success .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #4bac1b;
}

.ant-typography {
  color: rgba(255, 255, 255, 0.85);
}
.ant-typography.ant-typography-secondary {
  color: rgba(255, 255, 255, 0.45);
}
.ant-typography.ant-typography-success {
  color: #4bac1b;
}
.ant-typography.ant-typography-warning {
  color: #d99816;
}
.ant-typography.ant-typography-danger {
  color: #ab2229;
}
.ant-typography.ant-typography-disabled {
  color: rgba(255, 255, 255, 0.3);
}
.ant-typography h1,
h1.ant-typography {
  color: rgba(255, 255, 255, 0.85);
}
.ant-typography h2,
.ant-typography h3,
h2.ant-typography,
h3.ant-typography {
  color: rgba(255, 255, 255, 0.85);
}
.ant-typography h4,
.ant-typography h5,
h4.ant-typography,
h5.ant-typography {
  color: rgba(255, 255, 255, 0.85);
}
.ant-typography a,
.ant-typography-copy,
.ant-typography-edit,
.ant-typography-expand,
a.ant-typography {
  color: #2caad9;
}
.ant-typography a[disabled],
a.ant-typography[disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.ant-typography mark {
  background-color: #624b1d;
}
.ant-typography-copy:focus,
.ant-typography-copy:hover,
.ant-typography-edit:focus,
.ant-typography-edit:hover,
.ant-typography-expand:focus,
.ant-typography-expand:hover {
  color: #287a99;
}
.ant-typography-copy:active,
.ant-typography-edit:active,
.ant-typography-expand:active {
  color: #4eb3d2;
}
.ant-typography-copy-success,
.ant-typography-copy-success:focus,
.ant-typography-copy-success:hover {
  color: #4bac1b;
}
.ant-typography-edit-content-confirm {
  color: rgba(255, 255, 255, 0.45);
}
