@import "./antd-dark-theme.css";

body,
html {
  color: rgba(255, 255, 255, 0.85);
  background-color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.85);
}
a {
  color: #2caad9;
}
a:hover {
  color: #287a99;
}
a:active {
  color: #4eb3d2;
}
a[disabled] {
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
  pointer-events: none;
}
caption {
  color: rgba(255, 255, 255, 0.45);
}
mark {
  background-color: #36311c;
}
::selection {
  background: #2caad9;
}

/* MUI Styles */

.MuiDialog-paper {
  background-color: rgb(49, 49, 49);
}
.MuiDialog-paper label {
  color: #3f51b5;
}
.MuiDialog-paper p,
.MuiDialog-paper input {
  color: #fff;
}
