body,
html {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(bg-light.png);
  background-repeat: repeat;
}
.ant-layout-header {
  background: #fff;
}
.ant-menu {
  background: #fff;
}
