.navbar-polygon {
  position: relative;
  z-index: 1;
  padding: 0 70px;
  height: 103%;
  /* filter: drop-shadow(5px 10px 10px rgba(26, 15, 63, 0.71)); */
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-polygon::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -ms-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -o-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -webkit-linear-gradient(right, #5e72eb, #620edf);
  background: -o-linear-gradient(right, #5e72eb, #620edf);
  background: linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  background: -webkit-linear-gradient(89deg, #620edf 0%, #5e72eb 100%);
  box-shadow: 0px 12px 29px 0px rgb(26 15 63 / 71%);
  z-index: -1;
  clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
}

.navbar-polygon .ant-menu-item-selected {
  border-bottom: 2px solid rgba(255, 255, 255, 0.85) !important;
}

.navbar-polygon a {
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 16px;
}

.navbar-polygon .ant-menu-item-selected a {
  font-weight: bold;
}

.menu-right {
  display: flex;
  margin-left: auto;
}

.network-label {
  color: #666666;
  font-size: 16px;
}

.add-token {
  cursor: pointer;
  border: solid 0.5px transparent;
  border-radius: 15%;
  width: 26px;
  height: 26px;
  margin: auto 0;
}

.add-token img {
  width: inherit;
  height: inherit;
  display: inherit;
}
