/* -------------------------------- 

Background

-------------------------------- */

.space {
  background-image: url('assets/images/roadmap/space.png');
  display: flex;
  flex-direction: column;
}
.stars {
  background-image: url('assets/images/roadmap/stars_01.png');
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.stars2 {
  background-image: url('assets/images/roadmap/stars_02.png');
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: repeat;
}

.earth {
  background-image: url('assets/images/roadmap/earth.png');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  z-index: 1;
}
.cat-planet {
  background-image: url('assets/images/roadmap/cat-planet.png');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  top: 500px;
  z-index: 1;
}
.animated-star {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  top: 100px;
  z-index: 1;
}
.animated-star2 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 95%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 800px;
  z-index: 1;
}
.animated-star3 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 90%;
  height: 100%;
  left: 10%;
  background-repeat: no-repeat;
  background-position: center;
  top: 1100px;
  z-index: 1;
}
.animated-star4 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  top: 1500px;
  z-index: 1;
}
.animated-star5 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 3000px;
  z-index: 1;
}
.animated-star6 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4000px;
  z-index: 1;
}
.animated-star7 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -4500px;
  z-index: 1;
}
.animated-star8 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -1500px;
  z-index: 1;
}
.animated-star9 {
  background-image: url('assets/images/roadmap/animated-star.gif');
  position: absolute;
  width: 94%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -900px;
  z-index: 1;
}
.mars {
  background-image: url('assets/images/roadmap/mars.png');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: -3000px;
  z-index: 1;
}
.moon {
  width: 600px;
  height: 600px;
  margin-top: -125px;
  z-index: 1;
}
@media only screen and (min-width: 920px) {
  .moon {
    width: 800px;
    height: 800px;
  }
}
@media only screen and (min-width: 1170px) {
  .moon {
    margin-top: -190px;
  }
}

/* -------------------------------- 

Timeline

-------------------------------- */

.roadmap-title {
  z-index: 2;
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
  z-index: 2;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #620edf;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 8em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: '';
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-checkpoint {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #5e72eb, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-checkpoint {
  background: linear-gradient(to left, #5e72eb, #620edf);
}
.cd-timeline-checkpoint.completed {
  background: linear-gradient(to left, #4faa5c, #225953);
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-checkpoint {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.done-icon {
  font-size: 20px;
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333c42;
  border-radius: 2px;
  padding: 1em;
}
.timeline-content-img {
  position: absolute;
  width: 200px;
  display: none;
}
.cd-timeline-content p {
  text-align: left;
}
.cd-timeline-content .timeline-content-info {
  background: #2b343a;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.cd-timeline-content .timeline-content-info i {
  margin-right: 5px;
}
.cd-timeline-content .timeline-content-info .timeline-content-info-title,
.cd-timeline-content .timeline-content-info .timeline-content-info-date {
  width: calc(50% - 2px);
  display: inline-block;
}
@media (max-width: 500px) {
  .cd-timeline-content .timeline-content-info .timeline-content-info-title,
  .cd-timeline-content .timeline-content-info .timeline-content-info-date {
    display: block;
    width: 100%;
  }
}
.cd-timeline-content .content-skills {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cd-timeline-content .content-skills li {
  background: #40484d;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}
.cd-timeline-content:after {
  content: '';
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 5px;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}

.cd-timeline-content .about-video .video-preview {
  max-width: 750px;
}
.cd-timeline-content .about-video .play-video img {
  width: 100px;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .cd-timeline-content .about-video .play-video img {
    width: 125px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333c42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333c42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block .cd-timeline-content .timeline-content-img {
    display: block;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content .timeline-content-img {
    left: -60px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .timeline-content-img {
    right: -60px;
  }
  .cd-timeline-content .about-video .play-video img {
    width: 100px;
  }
}

footer {
  margin-top: 100px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
