@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Ubuntu:300,400,500,700");

.App {
  text-align: center;
}

.AppBody {
  margin-top: 65px;
}

.blockies {
  margin-bottom: 20px;
}

.bn-notify-notifications {
  width: 300px !important;
}

/* Typography */

body {
  font-family: "Ubuntu", sans-serif !important;
}

h1 {
  font-size: 60px !important;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  padding: 5px 10px;
  color: #fff !important;
  background: -webkit-linear-gradient(to left, #5e72eb, #620edf);
  background: -moz-linear-gradient(to left, #5e72eb, #620edf);
  background: -ms-linear-gradient(to left, #5e72eb, #620edf);
  background: -o-linear-gradient(to left, #5e72eb, #620edf);
  background: -webkit-gradient(linear, right top, left top, from(#5e72eb), to(#620edf));
  background: -webkit-linear-gradient(right, #5e72eb, #620edf);
  background: -o-linear-gradient(right, #5e72eb, #620edf);
  background: linear-gradient(to left, #5e72eb, #620edf);
}

p,
a,
button,
button span {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

/**
 * 5.0 - Alignments
 */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}
