@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Ubuntu:300,400,500,700');

.App {
  text-align: center;
}

.AppBody {
  margin-top: 65px;
}

.blockies {
  margin-bottom: 20px;
}

.bn-notify-notifications {
  width: 300px !important;
}

/* Typography */

html,
body,
p,
a,
button,
button span {
  font-family: 'Ubuntu', 'Roboto', sans-serif !important;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  font-size: 48px !important;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  padding: 5px 10px;
  color: #fff !important;
  background: -webkit-linear-gradient(to left, #5e72eb, #620edf);
  background: -moz-linear-gradient(to left, #5e72eb, #620edf);
  background: -ms-linear-gradient(to left, #5e72eb, #620edf);
  background: -o-linear-gradient(to left, #5e72eb, #620edf);
  background: -webkit-gradient(linear, right top, left top, from(#5e72eb), to(#620edf));
  background: -webkit-linear-gradient(right, #5e72eb, #620edf);
  background: -o-linear-gradient(right, #5e72eb, #620edf);
  background: linear-gradient(to left, #5e72eb, #620edf);
}

.pixelated {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  image-rendering: pixelated;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 30px !important;
  }
}

/* Util Classes */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

/* Antd Global Fixes */

.ant-btn {
  line-height: 0;
}

.ant-layout {
  background: transparent;
}

.ant-menu-horizontal {
  white-space: nowrap;
  border: 0;
  box-shadow: none;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  margin: -3px 20px 0 !important;
  padding: 0;
}

.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-horizontal > .ant-menu-submenu:hover {
  border-bottom: 2px solid #2caad9;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-horizontal > .ant-menu-submenu:hover::after,
.ant-menu-horizontal > .ant-menu-item-active::after,
.ant-menu-horizontal > .ant-menu-submenu-active::after,
.ant-menu-horizontal > .ant-menu-item-open::after,
.ant-menu-horizontal > .ant-menu-submenu-open::after,
.ant-menu-horizontal > .ant-menu-item-selected::after,
.ant-menu-horizontal > .ant-menu-submenu-selected::after {
  border-bottom: none !important;
}
