.ant-menu.leader-board {
  height: 40px;
  /* margin: 0px 2px; */
  align-items: center;
}
.leader-board .ant-menu-item-selected {
  /* border-bottom: none !important; */
  color: #fff !important;
  font-size: 1.3rem !important;
  /* background-color: aliceblue !important; */
}
.leader-board .ant-menu-item-selected:hover {
  border-bottom: none !important;
  color: #fff !important;
  font-size: 1.3rem !important;
  /* background-color: aliceblue !important; */
}
.leader-board .ant-menu-item-active {
  border-bottom: none !important;
  /* color: white !important; */
  font: bold !important;
}
.leader-board>li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
  height: 100%;
  font-size: 1.2rem;
  border-bottom: none !important;
  margin: 0px 0px 0px 0px !important;
  padding: 4px 10px !important;
  color: #eee;
  /* background-color: #555; */
}
.leader-board li span {
  line-height: 35px;
}